*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #1a1919; }

.link_main {
  background-color: #bb7900; }

.link_price {
  background-color: black; }

.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }

.wrapper_price {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  min-width: 0; }

.side-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.side-menu ul {
  width: 90%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 100px; }

.side-menu a {
  background-color: orange;
  width: 90%;
  height: 20%;
  font-size: 18px;
  display: block;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 22px 16px;
  cursor: pointer;
  transition: background-color ease-in .3s;
  text-decoration: none;
  margin-bottom: 10px; }

.teg {
  display: block;
  width: 40px;
  height: 40px;
  float: left; }

.tex {
  position: absolute;
  right: 15%; }
  .tex p {
    color: black; }

.arrow,
.arrow1,
.arrow2 {
  width: 20px;
  height: 20px;
  float: right;
  background-image: url("../img/down-arrow.svg");
  background-size: 20px 20px; }

.arrow.active,
.arrow1.active,
.arrow2.active {
  background-image: url("../img/up-arrow.svg"); }

.side-menu a:hover {
  background-color: #ccc; }

.side-menu ul.projects-list,
ul.projects-list1,
ul.projects-list2 {
  display: none; }

.side-menu ul.projects-list a {
  padding-left: 40px; }

.doma-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #1a1919;
  margin-top: 5px;
  margin-bottom: 5px; }

.doma-1-item {
  width: 70%;
  height: 50px;
  background-color: grey;
  font-size: 20px; }

.doma-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 50px;
  background-color: grey; }

.price,
.price1 {
  width: 80%;
  height: 80%;
  background-color: white;
  font-size: 18px;
  font-weight: 100px;
  text-align: center; }

.kvartiri-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #1a1919;
  margin-top: 5px;
  margin-bottom: 5px; }

.kvartiri_blog1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 70px;
  background-color: orange;
  font-size: 15px; }

.kvartiri_blog2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 70px;
  background-color: orange;
  font-size: 15px;
  text-align: center; }

.kvartiri_blog3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 70px;
  background-color: orange;
  font-size: 15px;
  text-align: center; }

.kvartiri_blog4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 70px;
  background-color: orange;
  font-size: 15px;
  text-align: center; }

.kvartiri_inside1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50px;
  background-color: grey;
  font-size: 15px; }

.kvartiri_inside2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 50px;
  background-color: grey;
  font-size: 15px;
  text-align: center; }

.kvartiri_inside3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
  background-color: #a5a5a5;
  border: solid grey 3px;
  font-size: 15px;
  text-align: center; }

.kvartiri_inside4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
  background-color: #a5a5a5;
  border: solid grey 3px;
  font-size: 15px;
  text-align: center; }

.dis {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #1a1919;
  margin-top: 5px;
  margin-bottom: 5px; }

.dis_blog1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 70px;
  background-color: orange;
  font-size: 15px;
  text-align: center; }

.dis_blog2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 70px;
  background-color: orange;
  font-size: 15px;
  text-align: center; }

.dis_blog3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 70px;
  background-color: orange;
  font-size: 15px;
  text-align: center; }

.dis_blog4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 70px;
  background-color: orange;
  font-size: 15px;
  text-align: center; }

.dis_inside1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50px;
  background-color: #a5a5a5;
  border: solid grey 3px;
  font-size: 15px;
  text-align: center; }

.dis_inside2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 50px;
  background-color: #a5a5a5;
  border: solid grey 3px;
  font-size: 15px;
  text-align: center; }

.dis_inside3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 50px;
  background-color: #a5a5a5;
  border: solid grey 3px;
  font-size: 15px;
  text-align: center; }

.dis_inside4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 50px;
  background-color: #a5a5a5;
  border: solid grey 3px;
  font-size: 15px;
  text-align: center; }

@media (min-width: 320px) and (orientation: portrait) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .doma-1-item {
    width: 60%; }
    .doma-1-item h1,
    .doma-1-item h2 {
      font-size: 16px; }

  .doma-price {
    width: 37%; }

  h1,
  h2 {
    font-size: 15px; }

  .side-menu ul {
    width: 100%; }

  .side-menu a {
    font-weight: 700;
    font-size: 10px;
    width: 100%; }
    .side-menu a p {
      font-size: 0; }

  .arrow {
    width: 20px;
    height: 20px; }

  .kvartiri_blog1 h1,
  .kvartiri_blog2 h1,
  .kvartiri_blog3 h1,
  .kvartiri_blog4 h1 {
    font-size: 70%; }

  .kvartiri_inside1 h1,
  .kvartiri_inside2 h1,
  .kvartiri_inside3 h1,
  .kvartiri_inside4 h1 {
    font-size: 80%; }

  .dis_blog1 {
    width: 30%; }

  .dis_blog2 {
    width: 22%; }
    .dis_blog2 h1 {
      font-size: 70%; }

  .dis_blog3 {
    width: 22%; }

  .dis_blog4 {
    width: 22%; }
    .dis_blog4 h1 {
      font-size: 90%; }

  .dis_inside1 {
    width: 30%;
    height: 95%; }
    .dis_inside1 h1 {
      font-size: 70%; }

  .dis_inside2 {
    width: 22%;
    height: 95%; }

  .dis_inside3 {
    width: 22%;
    height: 95%; }

  .dis_inside4 {
    width: 22%;
    height: 95%; }
    .dis_inside4 h1 {
      font-size: 70%; } }
@media (min-width: 480px) and (orientation: landscape) {
  .doma-1-item {
    width: 60%; }
    .doma-1-item h1,
    .doma-1-item h2 {
      font-size: 16px; }

  .doma-price {
    width: 37%; }

  h1,
  h2 {
    font-size: 15px; }

  .side-menu ul {
    width: 100%; }

  .side-menu a {
    font-size: 15px;
    width: 100%; }

  .kvartiri_blog1 h1,
  .kvartiri_blog2 h1,
  .kvartiri_blog3 h1,
  .kvartiri_blog4 h1 {
    font-size: 70%; }

  .kvartiri_inside1 h1,
  .kvartiri_inside2 h1,
  .kvartiri_inside3 h1,
  .kvartiri_inside4 h1 {
    font-size: 80%; }

  .dis_blog1 {
    width: 30%; }

  .dis_blog2 {
    width: 22%; }
    .dis_blog2 h1 {
      font-size: 70%; }

  .dis_blog3 {
    width: 22%; }

  .dis_blog4 {
    width: 22%; }
    .dis_blog4 h1 {
      font-size: 90%; }

  .dis_inside1 {
    width: 30%;
    height: 95%; }
    .dis_inside1 h1 {
      font-size: 70%; }

  .dis_inside2 {
    width: 22%;
    height: 95%; }

  .dis_inside3 {
    width: 22%;
    height: 95%; }

  .dis_inside4 {
    width: 22%;
    height: 95%; }
    .dis_inside4 h1 {
      font-size: 70%; } }
@media (min-width: 600px) and (orientation: portrait) {
  .doma-1-item {
    width: 60%; }
    .doma-1-item h1,
    .doma-1-item h2 {
      font-size: 16px; }

  .doma-price {
    width: 37%; }

  h1,
  h2 {
    font-size: 15px; }

  .side-menu ul {
    width: 100%; }

  .side-menu a {
    font-size: 45%;
    width: 100%; }

  .kvartiri_blog1 h1,
  .kvartiri_blog2 h1,
  .kvartiri_blog3 h1,
  .kvartiri_blog4 h1 {
    font-size: 70%; }

  .kvartiri_inside1 h1,
  .kvartiri_inside2 h1,
  .kvartiri_inside3 h1,
  .kvartiri_inside4 h1 {
    font-size: 80%; }

  .dis_blog1 {
    width: 30%; }

  .dis_blog2 {
    width: 22%; }
    .dis_blog2 h1 {
      font-size: 70%; }

  .dis_blog3 {
    width: 22%; }

  .dis_blog4 {
    width: 22%; }
    .dis_blog4 h1 {
      font-size: 90%; }

  .dis_inside1 {
    width: 30%;
    height: 95%; }
    .dis_inside1 h1 {
      font-size: 70%; }

  .dis_inside2 {
    width: 22%;
    height: 95%; }

  .dis_inside3 {
    width: 22%;
    height: 95%; }

  .dis_inside4 {
    width: 22%;
    height: 95%; }
    .dis_inside4 h1 {
      font-size: 70%; } }
@media (min-width: 801px) {
  .doma-1-item {
    width: 60%; }
    .doma-1-item h1,
    .doma-1-item h2 {
      font-size: 16px; }

  .doma-price {
    width: 37%; }

  h1,
  h2 {
    font-size: 15px; }

  .side-menu ul {
    width: 100%; }

  .side-menu a {
    font-size: 15px;
    width: 100%; }
    .side-menu a p {
      font-size: 0; }

  .kvartiri_blog1 h1,
  .kvartiri_blog2 h1,
  .kvartiri_blog3 h1,
  .kvartiri_blog4 h1 {
    font-size: 70%; }

  .kvartiri_inside1 h1,
  .kvartiri_inside2 h1,
  .kvartiri_inside3 h1,
  .kvartiri_inside4 h1 {
    font-size: 80%; }

  .dis_blog1 {
    width: 30%; }

  .dis_blog2 {
    width: 22%; }
    .dis_blog2 h1 {
      font-size: 70%; }

  .dis_blog3 {
    width: 22%; }

  .dis_blog4 {
    width: 22%; }
    .dis_blog4 h1 {
      font-size: 90%; }

  .dis_inside1 {
    width: 30%;
    height: 95%; }
    .dis_inside1 h1 {
      font-size: 70%; }

  .dis_inside2 {
    width: 22%;
    height: 95%; }

  .dis_inside3 {
    width: 22%;
    height: 95%; }

  .dis_inside4 {
    width: 22%;
    height: 95%; }
    .dis_inside4 h1 {
      font-size: 70%; } }
@media (min-width: 1025px) {
  .doma-1-item {
    width: 60%; }
    .doma-1-item h1,
    .doma-1-item h2 {
      font-size: 16px; }

  .doma-price {
    width: 37%; }

  h1,
  h2 {
    font-size: 15px; }

  .side-menu ul {
    width: 100%; }

  .side-menu a {
    font-size: 45%;
    width: 100%; }

  .kvartiri_blog1 h1,
  .kvartiri_blog2 h1,
  .kvartiri_blog3 h1,
  .kvartiri_blog4 h1 {
    font-size: 70%; }

  .kvartiri_inside1 h1,
  .kvartiri_inside2 h1,
  .kvartiri_inside3 h1,
  .kvartiri_inside4 h1 {
    font-size: 80%; }

  .dis_blog1 {
    width: 30%; }

  .dis_blog2 {
    width: 22%; }
    .dis_blog2 h1 {
      font-size: 70%; }

  .dis_blog3 {
    width: 22%; }

  .dis_blog4 {
    width: 22%; }
    .dis_blog4 h1 {
      font-size: 90%; }

  .dis_inside1 {
    width: 30%;
    height: 95%; }
    .dis_inside1 h1 {
      font-size: 70%; }

  .dis_inside2 {
    width: 22%;
    height: 95%; }

  .dis_inside3 {
    width: 22%;
    height: 95%; }

  .dis_inside4 {
    width: 22%;
    height: 95%; }
    .dis_inside4 h1 {
      font-size: 70%; } }
@media (min-width: 1281px) {
  .doma-1-item {
    width: 60%; }
    .doma-1-item h1,
    .doma-1-item h2 {
      font-size: 16px; }

  .doma-price {
    width: 37%; }

  h1,
  h2 {
    font-size: 15px; }

  .side-menu ul {
    width: 100%; }

  .side-menu a {
    font-size: 45%;
    width: 100%; }

  .kvartiri_blog1 h1,
  .kvartiri_blog2 h1,
  .kvartiri_blog3 h1,
  .kvartiri_blog4 h1 {
    font-size: 70%; }

  .kvartiri_inside1 h1,
  .kvartiri_inside2 h1,
  .kvartiri_inside3 h1,
  .kvartiri_inside4 h1 {
    font-size: 80%; }

  .dis_blog1 {
    width: 30%; }

  .dis_blog2 {
    width: 22%; }
    .dis_blog2 h1 {
      font-size: 70%; }

  .dis_blog3 {
    width: 22%; }

  .dis_blog4 {
    width: 22%; }
    .dis_blog4 h1 {
      font-size: 90%; }

  .dis_inside1 {
    width: 30%;
    height: 95%; }
    .dis_inside1 h1 {
      font-size: 70%; }

  .dis_inside2 {
    width: 22%;
    height: 95%; }

  .dis_inside3 {
    width: 22%;
    height: 95%; }

  .dis_inside4 {
    width: 22%;
    height: 95%; }
    .dis_inside4 h1 {
      font-size: 70%; } }
/*# sourceMappingURL=price.css.map */

/*# sourceMappingURL=price.css.map */
