                *,
                *:before,
                *:after {
                    padding: 0;
                    margin: 0;
                    border: 0;
                    box-sizing: border-box;
                }
                
                html,
                body {
                    height: 100%;
                    overflow: auto;
                    -webkit-overflow-scrolling: touch;
                    background-color: rgb(26, 25, 25);
                }
                
                .row {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                }
                
                .card_wrapper {
                    width: 1000px;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    margin-left: 50px;
                    margin-top: 50px;
                    min-width: 0;
                }
                
                .card {
                    display: flex;
                    width: 100%;
                    height: 300px;
                    margin-top: 30px;
                    margin-bottom: 100px;
                    border-bottom: 30px;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    background-color: orange;
                    text-align: center;
                    img {
                        display: block;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                    p {
                        font-size: 20px;
                    }
                    h1 {
                        margin-top: 5px;
                        font-size: 30px;
                    }
                }
                
                .tex {
                    width: 100%;
                    height: 300px;
                }
                
                .dannie {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                
                .data {
                    width: 30%;
                }
                
                .vid {
                    width: 30%;
                }
                
                .loca {
                    width: 30%;
                }
                
                .img_top {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                }
                
                // ___________медиа
                @media (min-width:320px) and (orientation:portrait) {
                    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
                    body.lock {
                        overflow: hidden;
                    }
                    .row {
                        width: 100%;
                        height: 100%;
                    }
                    .card_wrapper {
                        width: 100%;
                        height: 100%;
                        margin-left: 0;
                        margin-top: 0;
                    }
                    // .place {
                    //     width: 130px;
                    //     opacity: 1;
                    // }
                    .dannie {}
                    .card {
                        width: 100%;
                        height: 400px;
                        margin-bottom: 100px;
                        p {
                            font-size: 17px;
                        }
                        .dannie {
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
                
                @media (min-width:480px)and (orientation:landscape) {
                    /* smartphones, Android phones, landscape iPhone */
                    body.lock {
                        overflow: hidden;
                    }
                    .card_wrapper {
                        width: 100%;
                        height: 100%;
                        margin-left: 0;
                        margin-top: 0;
                    }
                    // .place {
                    //     width: 130px;
                    //     opacity: 1;
                    // }
                    .card {
                        width: 80%;
                        height: 300px;
                        p {
                            font-size: 17px;
                        }
                    }
                }
                
                @media (min-width:600px) and (orientation:portrait) {
                    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
                    body.lock {
                        overflow: hidden;
                    }
                    // .place {
                    //     width: 130px;
                    //     opacity: 1;
                    // }
                    .card {
                        width: 100%;
                        height: 300px;
                        margin-bottom: 100px;
                        p {
                            font-size: 20px;
                        }
                    }
                    .dannie {
                        p {
                            font-size: 17px;
                        }
                    }
                }
                
                @media (min-width:801px) {
                    /* tablet, landscape iPad, lo-res laptops ands desktops */
                    .card {
                        width: 80%;
                        height: 300px;
                        margin-bottom: 100px;
                        p {
                            font-size: 20px;
                        }
                    }
                }
                
                @media (min-width:1025px) {
                    /* big landscape tablets, laptops, and desktops */
                }
                
                @media (min-width:1281px) {
                    /* hi-res laptops and desktops */
                    .row {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                    }
                    .card_wrapper {
                        width: 1000px;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        align-items: center;
                        margin-left: 50px;
                        margin-top: 50px;
                        min-width: 0;
                    }
                    .card {
                        display: flex;
                        width: 100%;
                        height: 300px;
                        margin-top: 30px;
                        margin-bottom: 100px;
                        border-bottom: 30px;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        background-color: orange;
                        text-align: center;
                        img {
                            display: block;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }
                        p {
                            font-size: 20px;
                        }
                        h1 {
                            margin-top: 5px;
                            font-size: 30px;
                        }
                    }
                    .tex {
                        width: 100%;
                        height: 300px;
                    }
                    .dannie {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                    .data {
                        width: 30%;
                    }
                    .vid {
                        width: 30%;
                    }
                    .loca {
                        width: 30%;
                    }
                    .img_top {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                    }
                }