.Journal_block {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.journal_container {
    position: relative;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f9f9f9;
}
.journal_logo {
    position: absolute;
    width: 100%;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size: 4vh;
        color: #a86d06;
    }
    h2 {
        font-size: 4vh;
    }
    h3 {
        position: absolute;
        font-size: 5rem;
        color: #a86d06;
        bottom: -50%;
    }
}
.journal_cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:25px 25px;
    margin-top: 10%;
}
.journal_card {
    width: 30%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.7);
    .jcard_icon {
        width: 100%;
        height: 40%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.jcard_text {
    width: 100%;
    height: 60%;
    padding: 27px 40px;
    .date {
        margin-bottom: 15px;
        h1 {
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: #a86d06;
        }
        p {
            font-size: 13px;
            line-height: 22px;
            letter-spacing: 0.02em;
        }
    }
    .title {
        h1{font-size: 1.8vh;}
        margin-bottom: 10px;
        letter-spacing: 0.02em;
    }
    .text {
        margin-bottom: 10px; 
        font-size: 0.6rem;
        letter-spacing: 0.02em;
        
    }
    .jcard_but{
        a{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #a86d06;
        text-decoration: none;
    }
    }
}
.journal_button {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        width: 15vw;
        height: 5vh;
        background: #A86D06;
        border: 1px solid #A86D06;
    }
}
