*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f0f0f0; }

p {
  color: white; }

.nav_bar {
  position: fixed;
  width: 100%;
  height: 41px;
  background-color: black;
  border-radius: 2%; }
  .nav_bar img {
    width: 40px;
    height: 40px; }

.social_media {
  float: right;
  display: flex;
  justify-content: space-around;
  width: 80px; }
  .social_media img {
    width: 30px;
    height: 35px; }

.logo_bar {
  float: left; }
  .logo_bar img {
    width: 50px;
    height: 42px; }

.wrapper {
  display: flex;
  width: 100%;
  height: 14%;
  position: relative;
  justify-content: center;
  align-items: center; }

.header_menu {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 5%;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: transparent;
  transition: all 0.8s ease 0s; }
  .header_menu a {
    color: #e6e6e6;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 65px;
    height: 80px;
    border: none; }
  .header_menu img {
    width: 40px;
    height: 40px; }
  .header_menu p {
    font-size: 15px;
    font-weight: 290;
    color: black; }

.link_img {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 15%; }

.link_img:hover {
  background-color: #1a1919;
  transition: all 0.8s ease 0s;
  transform: translate(0, -5px); }

.header_menu.active {
  transition: all 0.5s ease 0s; }

.header__burger {
  display: block;
  position: fixed;
  margin-top: 15px;
  margin-left: 13px;
  width: 60px;
  height: 25px;
  transition: all 0.5s ease 0s;
  z-index: 1; }

.header__burger span {
  position: absolute;
  background-color: black;
  left: 0;
  width: 100%;
  height: 5px;
  top: 10px;
  transition: all 0.3s ease 0s; }

.header__burger:before,
.header__burger:after {
  content: '';
  background-color: black;
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  transition: all 0.3s ease 0s; }

.header__burger:before {
  top: 0; }

.header__burger:after {
  bottom: 0; }

.header__burger.active {
  transform: translate(0px, 85px);
  transition: all 0.3s ease 0s; }

.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px; }

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px; }

.header__burger.active span {
  transform: scale(0); }

.header__list li {
  list-style: none; }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
  background-color: transparent; }

.logo {
  display: flex; }
  .logo img {
    width: 500px;
    height: 500px; }

.logo_center {
  width: 200px;
  height: 200px; }

.call_phone {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 10%;
  right: 13%;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 100%;
  animation: pulsing 5s infinite;
  transition: pulsing 5s infinite; }
  .call_phone img {
    display: block;
    width: 40px;
    height: 40px; }

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }
@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }
.call__menu {
  position: absolute;
  display: flex;
  width: 400px;
  height: 300px;
  background-color: white;
  border: solid black 2px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: -100%;
  transition: all 1s ease;
  border-radius: 10%; }
  .call__menu h2 {
    font-weight: 50;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px; }

.call__menu.active {
  top: 25%; }

.back {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer; }
  .back img {
    width: 20px;
    height: 20px; }

.our_phone {
  position: relative;
  display: flex;
  width: 90%;
  height: 50px;
  background-color: #fff;
  border: solid 2px black;
  margin-bottom: 60px; }

.our_phone_nub {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  text-align: center; }
  .our_phone_nub h1 {
    font-weight: 50;
    font-size: 33px;
    font-family: 'Ubuntu', sans-serif; }

.our_phone_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  background-color: black;
  text-align: center; }
  .our_phone_img img {
    width: 30px;
    height: 30px; }

.call_back {
  position: relative;
  display: flex;
  width: 90%;
  height: 50px;
  background-color: #fff;
  border: solid 2px black; }

.input_phone {
  width: 80%; }
  .input_phone input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 50;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif; }

body.lock {
  overflow: hidden; }

@media (min-width: 320px) and (orientation: portrait) {
  .header_menu {
    bottom: 10px;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    height: 100px;
    transition: all 0.8s ease 0s; }
    .header_menu a {
      width: 14%; }

  .header_menu.active {
    bottom: 0;
    transition: all 0.5s ease 0s; }

  .header__burger {
    display: block;
    position: fixed;
    margin-top: 15px;
    margin-left: 13px;
    width: 60px;
    height: 25px;
    transition: all 0.5s ease 0s;
    z-index: 1;
    bottom: -100%; }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%; }

  .logo img {
    width: 400px;
    height: 400px; }

  .call_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    animation: pulsing 5s infinite;
    transition: pulsing 5s infinite; }
    .call_phone img {
      display: block;
      width: 20px;
      height: 20px; }

  .call__menu {
    width: 90%;
    height: 50%; }
    .call__menu h1,
    .call__menu h2 {
      font-size: 21px; }

  .call__menu.active {
    top: 25%; }

  .btn {
    width: 100%;
    height: 60px; }

  .back {
    width: 30px;
    height: 30px;
    position: absolute; }
    .back img {
      width: 20px;
      height: 20px; }

  input {
    width: 280px;
    height: 30px; }

  .call_back_btn {
    width: 200px; } }

/*# sourceMappingURL=main.css.map */
