*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #1a1919; }

p {
  color: white; }

.header_menu {
  position: fixed;
  display: flex;
  bottom: -100%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100px;
  height: 100%;
  background-color: #bb7900;
  transition: all 0.8s ease 0s; }
  .header_menu a {
    color: #e6e6e6;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    border: none; }
  .header_menu img {
    width: 50px;
    height: 50px; }
  .header_menu p {
    font-size: 19px; }

.header__link:hover {
  background-color: #f7bb4d;
  transition: all 0.8s ease 0s;
  transform: translate(0, -5px); }

.header_menu.active {
  bottom: 0;
  transition: all 0.5s ease 0s; }

.header__burger {
  display: block;
  position: fixed;
  margin-top: 15px;
  margin-left: 13px;
  width: 60px;
  height: 25px;
  transition: all 0.5s ease 0s;
  z-index: 1; }

.header__burger span {
  position: absolute;
  background-color: orange;
  left: 0;
  width: 100%;
  height: 5px;
  top: 10px;
  transition: all 0.3s ease 0s; }

.header__burger:before,
.header__burger:after {
  content: '';
  background-color: orange;
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  transition: all 0.3s ease 0s; }

.header__burger:before {
  top: 0; }

.header__burger:after {
  bottom: 0; }

.header__burger.active {
  transform: translate(85px);
  transition: all 0.3s ease 0s; }

.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px; }

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px; }

.header__burger.active span {
  transform: scale(0); }

.header__list li {
  list-style: none; }

.link_main {
  background-color: red; }

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 658px;
  background-color: #1a1919; }

.logo {
  font-size: 100px;
  color: orange; }

.call_phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: orange;
  border-radius: 100%;
  right: 0;
  animation: pulsing 5s infinite;
  transition: pulsing 5s infinite; }
  .call_phone img {
    display: block;
    width: 40px;
    height: 40px; }

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }
@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }
.call__menu {
  position: absolute;
  display: flex;
  width: 80%;
  height: 400px;
  background-color: orange;
  border: solid black 5px;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: -100%;
  transition: all 1s ease; }
  .call__menu h1 {
    color: #1a1919;
    font-family: 'Ubuntu', sans-serif; }

.text_call_back {
  margin-top: 40px; }

.call__menu.active {
  top: 20%; }

.btn {
  display: flex;
  width: 300px;
  height: 60px;
  background-color: #1a1919;
  color: orange;
  justify-content: center;
  align-items: center; }

.btn:hover {
  transition: all 0.8s ease 0s;
  transform: translate(0, -3px);
  color: #a7700c; }

.back {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 0 30% 90%; }
  .back img {
    width: 30px;
    height: 30px; }

.call_back {
  display: block;
  text-align: center;
  color: black; }

input {
  display: block;
  color: black;
  width: 300px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  border: solid 3px #1a1919; }

.call_back_btn {
  width: 200px;
  background-color: #1a1919;
  color: orange;
  margin-top: 10px;
  border: none;
  text-decoration: none; }

.call_back_btn:active {
  transform: translate(0, 3px);
  background-color: black;
  transition: all 0.1s ease; }

.call_back_btn:hover {
  transform: translate(0, -3px);
  color: #a7700c;
  transition: all 0.5s ease; }

body.lock {
  overflow: hidden; }

@media screen and (max-width: 568px) and (orientation: portrait) {
  body.lock {
    overflow: hidden; }

  .content {
    width: 100%;
    height: 400px; }

  .logo {
    font-size: 80px; }

  .call_phone {
    width: 50px;
    height: 50px; }

  .call__menu {
    width: 350px;
    height: 350px; }
    .call__menu h1 {
      font-size: 25px; }
    .call__menu h2 {
      font-size: 25px; }

  .back {
    top: 0;
    margin-top: 5px; }
    .back img {
      width: 20px;
      height: 20px; }

  .call_back_btn h1 {
    color: orange; }

  .call_back_btn:active {
    color: orange; } }
@media screen and (max-width: 768px) and (orientation: portrait) {
  .content {
    width: 100%;
    height: 600px; }

  .header_menu {
    width: 100%;
    height: 70px;
    overflow: hidden;
    position: fixed;
    text-align: center;
    flex-direction: row;
    bottom: 0; }

  .header__burger {
    top: -100%;
    width: 40px;
    height: 20px; }

  .header__burger span {
    height: 3px;
    width: 40px;
    top: 9px; }

  .header__burger:before {
    width: 40px;
    height: 3px; }

  .header__burger:after {
    width: 40px;
    height: 3px; }

  .header__link {
    width: 100px;
    height: 100px; }
    .header__link p {
      font-size: 10px; }
    .header__link img {
      width: 35px;
      height: 45px; } }
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .header_menu {
    width: 100%;
    height: 80px;
    display: inline-flex;
    text-align: center;
    flex-direction: row;
    bottom: 0; }

  .header__link {
    width: 100px;
    height: 100px; }
    .header__link img {
      width: 50px;
      height: 50px; }

  .header__burger {
    top: -100%;
    transform: translate(0px, 100px);
    transition: all 0.3s ease 0s; } }

/*# sourceMappingURL=main.css.map */
