.top {
  background-color: black;
  border-bottom: solid 5px orange;
}
.top a {
  color: orange;
}
.teg a {
  color: orange;
  border-bottom: 2px solid #ffa500;
}
.spis {
  color: orange;
}
.drop {
  background-color: orange;
}
.drop a {
  color: black;
}
@media (min-width: 768px) {.dropdown:hover .dropdown-menu{margin-top:0;display:block}